@media (orientation: portrait), (max-width: 750px){
  html.viewing{
    overflow-y: auto !important;
  }
  
  .book{
    width: calc(100% - 23px) !important;
    height: 150px;
    position: relative;
    img{
      margin-right: 10px;
      height: inherit !important;
      margin-bottom: 0px !important;
      position: absolute;
    }
    h2,h3,h4,h5{
      font-size: 110%;
      line-height: 125%;
      float: right;
      display: block;
      clear: both;
      max-width: calc(100% - 111px);
    }
    h4,
    h5{
      text-shadow: none;
    }
    h4{
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: calc(100% - 8px);
      overflow: hidden;
    }
    h5{
      background: #fff !important;
      color: #909090;
      padding: 4px;
      line-height: 100%;
      font-size: 16px;
    }
  }
  
  #chapters{
    ul{
      li{
        font-size: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  
  sidebar{
    #title{
      writing-mode: horizontal-tb !important;
      width: 100% !important;
      height: $headerHeight / 2 !important;
      top: 0px;
      left: 0px;
      position: fixed;
      background-color: $bg;
      color: darken($bg, 30%);
      margin-left: 0px !important;
    }
    
    #series{
      width: 100%;
    }
    
    iframe{
      width: 100%;
    }
    
    &.activeSidebar{
      width: 0px !important;
    }
  }
  
  #book{
    right: -30px !important;
    img{
      margin-top: $headerHeight / 2 !important;
      width: 100vw !important;
      height: auto !important;
    }
  }
  
  #prevPage{
    display: none;
    visibility: hidden;
  }
}
