@media (orientation: portrait), (max-width: 750px){
  html.viewing{
    overflow-y: auto !important;
  }
  
  .book{
    width: calc(100% - 23px) !important;
    height: 150px;
    position: relative;
    img{
      margin-right: 10px;
      height: inherit !important;
      margin-bottom: 0px !important;
      position: absolute;
    }
    h2,h3,h4,h5{
      font-size: 110%;
      line-height: 125%;
      float: right;
      display: block;
      clear: both;
      max-width: calc(100% - 120px);
    }
    h4{
      position: absolute;
      bottom: 0px;
      right: 0;
      max-width: calc(100% - 10px);
      overflow: hidden;
    }
  }
  
  #chapters{
    ul{
      li{
        font-size: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  
  sidebar{
    #title{
      writing-mode: horizontal-tb !important;
      width: 100% !important;
      height: $headerHeight / 2 !important;
      top: 0px;
      left: 0px;
      position: fixed;
      background-color: $bg;
      color: darken($bg, 30%);
      margin-left: 0px !important;
    }
    &.activeSidebar{
      width: 0px !important;
    }
  }
  
  #book{
    right: -30px !important;
    img{
      margin-top: $headerHeight / 2 !important;
      width: 100%!important;
      height: auto !important;
    }
  }
}