//Animation Bezier
$bezier: cubic-bezier(1,0,0,1);

//Header and button height
$headerHeight: 40px;

//colors
$bg: #d69d66;     //Main color
$bg2: #866188;    //Accent
$color1: #fff;   //Background (white)
$color2: #fc5f94; //Text color

//keyframes
@keyframes backArrow{
  from{padding-left: 0px;}
  to{padding-left: 10px;}
}

@keyframes headerClose{
  from{width:100%}
  to{width:0}
}

@mixin ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes frontAni{
  from{max-height: 0px}
  to{max-height: 2000px;}
}

@keyframes frontContent{
  from{opacity: 0;}
  to{opacity:1;}
}