@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

[v-cloak]{
  display:none;
}

html,body{
  overflow: scroll;
  margin: 0px;
  background: $bg;
  max-width: 100%;
  overflow-x: hidden;
  color: $color1;
  font-family: 'Lato', sans-serif;
}

*:focus{
    outline: none;   
}

html.viewing{
  overflow-y: hidden;
}

.hide,
.chapList{
  display:none !important
}

.hideSeries{
  height: 0px;
}

sidebar{
  width: 100%;
  min-height: 100vh;
  right: 0;
  transition: all 450ms $bezier;
  position: absolute;
  z-index: 50;
  top: 0;
  display: table;
  
  h2,h3,h4,h5{
    margin: 0px;
    @include ellipsis;
    overflow: hidden;
    color: $bg;
    padding: 0px 5px;
    background-color: #fff;
    color: $color2;
  }

  h2{
    font-size: 15px; 
    line-height:17px; 
    padding-top: 4px; 
    font-weight: bold; 
  }
  h3{
    font-size: 13px; 
    line-height:15px; 
    padding-bottom: 5px; 
    padding: 0 4px 4px 4px;
  }
  
  h4,h5{
    font-size: 11px;
    line-height: 15px;
    background-color: $bg2;
    color: #fff;
    padding: 5px;
    font-family: 'meiryo', sans-serif;
    margin-top: -25px;
    z-index: 5;
    position: relative;
    padding: 4px 4px 3px 4px;
  }
  
  h5{
    margin-top: 0px;
    background-color: darken($bg2, 5%);
    padding: 3px 4px 4px 4px;
  }
  
  &.activeSidebar{
    width: 30px;
    height: 100%;
    right: 0px;
    text-align: center;
    z-index: 10;
    position: fixed;
    &:hover{
      cursor: pointer;
    }
    #title{
      writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      -webkit-writing-mode: vertical-lr;
      text-align: center;
      height: 100%;
      color: $color1;
      letter-spacing: 4px;
      display: block !important;
      margin-left: 6px;
      position: fixed;
      top: 0;
      right: 0;
      @include ellipsis;
      width: 20px;
      padding-left: 5px;
      background-color: $bg;
    }
    header{
      animation: headerClose 450ms $bezier;
      width:0;
      right:0;
      left: inherit;
      display: none;
    }
    
  }/*</.activeSidebar>*/
  //#title{display: none;}
  
  #series{
    height: auto;
    width: 75%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 20px;
    top: 0px;
    position: relative;
    background: $bg;
    .book{
      transition: opacity 250ms;
      opacity: 1;
      margin: 5px 4px;
      background-color: #fff;
      width: 193px;
      display: inline-block;
      transition: all 250ms ease-out;
      img{
        height: 275px;
        width: auto;
        max-width: 193px;
      }
      &:hover{
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }/*</#series>*/
  
  iframe{
    float: left;
    width: 25%;
    height: 100%;
  }
  
  #chapters{
    background-color: $bg;
    float: left;
    z-index: 9;
    margin-top: 0px;
    left: 100%;
    width: 100%;
    min-height: calc(100% - 40px);
    top: 44px;
    position: absolute;
    transition: all 400ms $bezier;
    
    ul{
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      li{
        color: #fff;
        width: calc(98% - 2px);
        display: block;
        font-size: 25;
        padding: 5px 2% 5px 5px;
        position: relative;
        z-index: 3;
        letter-spacing: 1.5px;
        &:hover{
          cursor:pointer;
          color:$bg;
          background: $color1;
        }
      }
    }/*</#chapters ul>*/
  
    &.openChapter{
      transform: translateX(-100%);
    }
  }/*</#chapters>*/
  
  //fixes a text select bug on mobile
  #prevPage, #title{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
} /*</sidebar>*/

header{
  position: relative;
  z-index: 10;
  left: 0;
  top: 0;
  color: $bg;
  min-height: 40px;
  background-color: $color1;
  transition: all 450ms cubic-bezier(1, 0, 0, 1);
  margin-top: -6px;
  padding: 10px 5px 0px 5px;
  #back, #headTitle{
    float: left;
  }
  #back{
    color: $bg;
    height: $headerHeight;
    width: $headerHeight;
    display: block;
    background-color: $color1;
    padding-right: 0px;
    transition: all 150ms;
    text-align: center;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: -5px;
    left: -2px;
    svg{
      height: 25px;
      margin-top: 6px;
      margin-left: -2px;
      fill: $bg !important;
    }
    &:hover{
      cursor: pointer;
      padding-right: 20px;
      animation: backArrow 300ms ease-in-out infinite alternate;
    }
  }/*</#back>*/
  #headTitle{
    width: 100%;
    color: $bg2;
    font-size: $headerHeight / 1.5;
    margin-top: 5px;
    width: calc(100% - 70px);
    @include ellipsis;
  }
  #front{
    width: 100%;
    padding: 10px 0px;
    clear:both;
    &.frontAni{
      animation: frontAni 350ms linear, frontContent 500ms linear;
    }
  }
}/*</#header>*/

#book{
  margin-right: 30px;
  height: 100%;
  white-space: nowrap;
  right: 0px;
  width: 99999vw; /*geez*/
  position: absolute;
  z-index: 5;
  transition: all 300ms ease-out;
  img{
    float: right;
    height: 100%;
    &:hover{
      //cursor:pointer;
    }
  }
}/*</#book>*/

//Changes if the book is being read
.viewing {
  #prevPage, #book{
    visibility: visible;
    display: block;
  }
  footer{
    visibility: hidden;
    display: none;
  }
  #book:hover{
    cursor: w-resize !important;
  }
}

//Footer
footer{
  width: 100vw;
  height: auto;
  padding: 0px;
  position: fixed;
  bottom: 0px;
  background: #fff;
  color: #333;
}

#prevPage{
  position: fixed;
  background: #fff;
  z-index: 200;
  height: 50px;
  width: 50px;
  right: 4px;
  border: 1px solid #dcdcdc;
  border-radius: 100%;
  top: 4px;
  
  svg{
    transform: rotate(180deg);
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
  }
}
@import 'mobile';
