//Animation Bezier
$bezier: cubic-bezier(1,0,0,1);

//Header and button height
$headerHeight: 40px;

//colors
$bg:          #eee; //Main color
$accent:      #333; //Accent (default)
$headerBG:    #676767; //Background (white)
$headerColor: #eee; //Title Color
$titleColor:  #333; //Text color

//borders
$border-radius: 0px;

//keyframes
@keyframes backArrow{
  from{padding-left: 0px;}
  to{padding-left: 10px;}
}

@keyframes headerClose{
  from{width:100%}
  to{width:0}
}

@mixin ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes frontAni{
  from{max-height: 0px}
  to{max-height: 2000px;}
}

@keyframes frontContent{
  from{opacity: 0;}
  to{opacity:1;}
}