meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="description" content="HI6MA v2.0.0")
meta(name="viewport" content="width=device-width,initial-scale=1")
meta(name="title" content="HI6MA v2.0.0")
title HI6MA v2.0.0
link(inline rel="stylesheet" href="../src/style/style.css")
link(inline rel="stylesheet" href="../node_modules/normalize.css/normalize.css")
