header(v-if="openChapter")
    button(v-if="openChapter" v-on:click="closeBook" id="back")
        svg(xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 1000 1000")
            path(d="M794.6 120.8L684 10 196 498l485.4 492 122.8-116.4L413.5 496l381-375.2z")

    div#headTitle
        span {{domain}}