doctype html

script(inline src="../BOOKLIST.js")

html(lang="en")
    head
        include 01 - head.pug

    body
        div#menu(v-cloak v-bind:class="{activeSidebar: readingBook}")
            include 02 - header.pug
            include 03 - chapters.pug
            include 04 - booklist.pug

            div#prevPage(v-on:click="previousPage()" v-if="readingBook")
                svg(xmlns="http://www.w3.org/2000/svg" fill="#333" viewBox="0 0 1000 1000")
                    path(d="M794.6 120.8L684 10 196 498l485.4 492 122.8-116.4L413.5 496l381-375.2z")

            span(v-if="readingBook" id="title" v-on:click="returnToSeriesList()") {{series_full}}

        div#book(v-bind:class="{readingBook: readingBook}")

        script(inline src="../node_modules/vue/dist/vue.js")
        script(inline src="../src/js/HI6MA.js")
        script(inline src="../src/js/HI6MA-init.js")
